<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pluto Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}"  rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.css}"  rel="stylesheet">
    <link th:href="@{/dist/css/home-style.css}"  rel="stylesheet">


    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div id="wrapper">

    <!-- 	menu de navegación 	header init -->
    <div th:replace="fragments/header-menu :: header-menu">... </div>
    <!-- 	menu de navegación 	header end -->

    <!-- 	menu de navegación 	init -->
    <div th:replace="fragments/header-nav :: header-nav">...</div>
    <!-- 	menu de navegación 	end -->

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" style="padding-top: 1em;">

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="page-header">Project</h1>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#Create" data-toggle="tab" aria-expanded="true">Create Project</a>
                                </li>
                                <li class=""><a href="#Edit" data-toggle="tab" aria-expanded="false">Edit Project</a>
                                </li>
                                <li class=""><a href="#View" data-toggle="tab" aria-expanded="false">View Project</a>
                                </li>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="Create">

                                    <div class="col-lg-6">
                                        <form role="form" th:action="@{/project/registration(projectData =${projectBean})}" th:object="${projectBean}" method="post">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" th:field="${projectBean.name}" class="form-control" >
                                            </div>

                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea class="form-control" rows="4" th:field="${projectBean.description}" ></textarea>
                                            </div>

                                            <button type="submit" class="btn btn-primary" >Save</button>
                                        </form>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="Edit">

                                    <div class="row" style="margin: 1.3em;">
                                        <form role="form" th:action="@{/project/search(searchData =${searchBean})}" th:object="${searchBean}" method="post">

                                            <div class="input-group custom-search-form">

                                                    <input type="text" th:field="${searchBean.content}" class="form-control" placeholder="Project name">
                                                    <span class="input-group-btn">
                                                    <button class="btn btn-default" type="submit">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                    </span>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="col-lg-6">
                                        <form role="form" th:action="@{/project/update(projectUpdateData =${projectUpdate})}" th:object="${projectUpdate}" method="post">

                                            <div class="form-group">
                                                <label>ID</label>
                                                <input type="text" id="disabledInput" th:field="${projectUpdate.id}" class="form-control" disabled>
                                            </div>

                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text"  th:field="${projectUpdate.name}" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea class="form-control"  th:field="${projectUpdate.description}" rows="4"></textarea>
                                            </div>

                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </form>
                                    </div>


                                </div>
                                <div class="tab-pane fade" id="View">

                                        <div class="panel panel-default" style="margin-top: 1.5em;">
                                            <!-- /.panel-heading -->

                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                <tr>
                                                    <th>id</th>
                                                    <th>Project Name</th>
                                                    <th>Description</th>
                                                    <th>Active</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="project : ${projectList}">
                                                    <td th:text="${project.id}">1</td>
                                                    <td th:text="${project.name}">Cannon Color</td>
                                                    <td th:text="${project.description}">Video Game for Mobile</td>
                                                    <td th:text="${project.active}">TRUE</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>

    <!-- Bootstrap Core JavaScript -->
    <!-- jQuery -->
    <script th:src="@{/vendor/jquery/jquery.min.js}" ></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/vendor/metisMenu/metisMenu.min.js}" ></script>

    <!-- Custom Theme JavaScript -->
    <script th:src="@{/dist/js/sb-admin-2.js}" ></script>

    <div th:replace="fragments/error-modal :: error-dialog">...</div>


</div>

</body>

</html>