<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pluto Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}"  rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.css}"  rel="stylesheet">
    <link th:href="@{/dist/css/home-style.css}"  rel="stylesheet">


    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div id="wrapper">

    <!-- 	menu de navegación 	header init -->
    <div th:replace="fragments/header-menu :: header-menu">... </div>
    <!-- 	menu de navegación 	header end -->

    <!-- 	menu de navegación 	init -->
    <div th:replace="fragments/header-nav :: header-nav">...</div>
    <!-- 	menu de navegación 	end -->

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Task Detail</h1>
                </div>
                <!-- /.row -->
            </div>

            <!-- .row -->
            <div class="row well" disabled="">

                <form role="form" th:action="@{/task/update(taskData =${taskViewFormBean},id=${taskViewFormBean.id})}" th:object="${taskViewFormBean}" method="post">
                <!-- .col-lg-6 -->
                <div class="col-lg-6">

                        <fieldset disabled="">
                            <div class="form-group">
                                <label>Id</label>
                                <input type="text" th:field="${taskViewFormBean.id}" th:value="${taskViewFormBean.id}" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>task name</label>
                                <input type="text" th:field="${taskViewFormBean.taskName}" th:value="${taskViewFormBean.taskName}" class="form-control">
                            </div>

                            <div class="form-group">
                                <label >Task Description</label>
                                <input type="text" th:field="${taskViewFormBean.taskDescription}" th:value="${taskViewFormBean.taskDescription}" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Priority</label>
                                <input type="text" th:field="${taskViewFormBean.priority}" th:value="${taskViewFormBean.priority}" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Done</label>
                                <input type="text" th:value="${taskViewFormBean.done}? 'COMPLETE' : 'PENDING'" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Note</label>
                                <textarea class="form-control" th:field="${taskViewFormBean.note}" th:value="${taskViewFormBean.note}" rows="3"></textarea>
                            </div>

                        </fieldset>
                </div>
                <!-- /.col-lg-6 -->

                <!-- .col-lg-6 -->
                <div class="col-lg-6">

                        <fieldset id="editableForm">

                            <div disabled class="form-group">
                                <label>Type</label>
                                <select class="form-control" th:field="${taskViewFormBean.type}" >
                                    <option th:value="'Bug'" th:text="Bug">Bug</option>
                                    <option th:value="'Task'" th:text="Task" selected >Task</option>
                                    <option th:value="'Issue'" th:text="Issue">Issue</option>
                                    <option th:value="'Enhancement'" th:text="Enhancement">Enhancement</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label >Status</label>
                                <input type="number" th:field="${taskViewFormBean.status}" th:value="${taskViewFormBean.status}" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Statement</label>
                                <select class="form-control" th:field="${taskViewFormBean.statement}" >
                                    <option th:value="'New'" th:text="New" selected >New</option>
                                    <option th:value="'InProgres'" th:text="InProgres">In Progres</option>
                                    <option th:value="'Active'" th:text="Active">Active</option>
                                    <option th:value="'Stop'" th:text="Stop">Stop</option>
                                    <option th:value="'Closed'" th:text="Closed">Closed</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label >Start Date</label>
                                <input type="date" th:field="${taskViewFormBean.startDate}" th:value="${taskViewFormBean.startDate}" class="form-control" >
                            </div>

                            <div class="form-group">
                                <label>End Date</label>
                                <input type="date" th:field="${taskViewFormBean.endDate}" th:value="${taskViewFormBean.endDate}" class="form-control" >
                            </div>

                        </fieldset>

                </div>
                <!-- /.col-lg-6 -->

                <div class="col-lg-12" style="float: left; margin-top: 0.5em;">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

                </form>

            </div>
            <!-- /.row -->


            <!-- .row -->

            <div class="row">

                <!-- .col-lg-6 -->
                <div class="col-lg-12">
                    <div class="well">

                        <fieldset>
                            <div class="form-group">
                                <h2>Add Attachment</h2>
                                <form th:action="@{/task/{taskid}/attachment/file/upload(taskid=${taskViewFormBean.id})}" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label>File input</label>
                                        <input type="file" name="file" />
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success btn-sm">Upload</button>
                                    </div>
                                </form>
                            </div>
                        </fieldset>

                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>File name </th>
                                        <th>File detail</th>
                                        <th>document type</th>
                                        <th>User upload</th>
                                        <th>Date upload</th>
                                        <th>Download link Upload</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  th:each="attachment : ${attachmentBeanList}">
                                        <td th:text="${attachment.fileName}">foto</td>
                                        <td th:text="${attachment.fileDetail}">inmegen para ejemplo</td>
                                        <td th:text="${attachment.documentType}">PDF</td>
                                        <td th:text="${attachment.userName}">Admin</td>
                                        <td th:text="${#dates.format(attachment.uploadDate,'dd/MMM/yyyy')}">25/mar/2020	</td>
                                        <td><a th:href="@{${attachment.downloadUri}}">Download File </a></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>


                    </div>
                </div>
                <!-- /.col-lg-6 -->

            </div>
            <!-- /.row -->


            <!-- COMMENT .row -->

            <div class="row">

                <div class="col-lg-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i> Comment
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" th:if="${not #lists.isEmpty(commentBeanList)}">
                            <ul class="chat">
                                <li class="left clearfix" th:each="comment : ${commentBeanList}">
                                    <span class="chat-img pull-left">
                                        <img th:src="@{${comment.profileUrl}}" alt="User Avatar" class="img-circle" style="height: 80px; width: 80px;">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font"><p th:text="${comment.userName}"></p></strong>
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i><p th:text="${comment.sendDate}"></p>
                                            </small>
                                        </div>
                                        <p th:text="${comment.message}"></p>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                            <form role="form" th:action="@{/task/add/comment(commentData =${commentFormBean},taskId=${taskViewFormBean.id})}" th:object="${commentFormBean}" method="post">
                            <div class="input-group">
                                <input id="btn-input" type="text" th:field="${commentFormBean.message}" class="form-control input-sm" placeholder="Type your comment here..." style="height: 50px; margin-right: 10px;">
                                <span class="input-group-btn" style="padding: 5px;">
                                    <button class="btn btn-warning btn-sm" type="submit" id="btn-chat">
                                        Send
                                    </button>
                                </span>
                            </div>
                            </form>
                        </div>
                        <!-- /.panel-footer -->
                    </div>

                </div>

            </div>
            <!-- COMMENT /.row -->



            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>

    <!-- Bootstrap Core JavaScript -->
    <!-- jQuery -->
    <script th:src="@{/vendor/jquery/jquery.min.js}" ></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/vendor/metisMenu/metisMenu.min.js}" ></script>

    <!-- Custom Theme JavaScript -->
    <script th:src="@{/dist/js/sb-admin-2.js}" ></script>

    <div th:replace="fragments/error-modal :: error-dialog">...</div>

    <script th:inline="javascript" th:if="${taskViewFormBean.done}">
        /*<![CDATA[*/

        $('#editableForm').prop( "disabled", true );

        /*]]>*/
    </script>

</div>

</body>

</html>