<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pluto Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}"  rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.css}"  rel="stylesheet">
    <link th:href="@{/dist/css/pluto-maintenance-style.css}"  rel="stylesheet">


    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="wrapper">
    
      <!-- 	menu de navegación 	header init -->
      <div th:replace="fragments/header-menu :: header-menu">... </div>
      <!-- 	menu de navegación 	header end -->
  
      <!-- 	menu de navegación 	init -->
      <div th:replace="fragments/header-nav :: header-nav">...</div>
      <!-- 	menu de navegación 	end -->
  

    <!-- Page Content -->
    <script>

        function hideDiv(){        
        // Hide menu once we know its width
            var $menu = $('.panel-body');
            if (!$menu.is(':visible')) {
                // Slide away
                $menu.show().animate({left: 0});

                $('#icon-header').removeClass('fa fa-chevron-circle-down');
                $('#icon-header').addClass('fa fa-chevron-circle-up');
                
            }
            else {
                // Slide in
                $menu.animate({left: -($menu.outerWidth() + 10)}, function() {
                    $('#icon-header').removeClass('fa fa-chevron-circle-up');
                    $('#icon-header').addClass('fa fa-chevron-circle-down');
                    $menu.hide();
                });
            }
        }

          function hideDiv2(){        
        // Hide menu once we know its width
            var $menu = $('.pannel-body-custom');
            if (!$menu.is(':visible')) {
                // Slide away
                $menu.show().animate({left: 0});

                $('#icon-header').removeClass('fa fa-chevron-circle-down');
                $('#icon-header').addClass('fa fa-chevron-circle-up');
                
            }
            else {
                // Slide in
                $menu.animate({left: -($menu.outerWidth() + 10)}, function() {
                    $('#icon-header').removeClass('fa fa-chevron-circle-up');
                    $('#icon-header').addClass('fa fa-chevron-circle-down');
                    $menu.hide();
                });
            }
        }
    
    
    </script>

    <div id="page-wrapper" style="min-height: 560px;">
        <div class="container-fluid">
                
            <div class="col-lg-12">
                <h1 class="page-header" th:text="#{label.maintenance.tittle}">Registration new Category</h1>

                <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 th:text="#{label.itemType.tittle}">Basic Form Elements</h2>
                            <a id="icon-header" href="#"  onclick="hideDiv()" class="fa fa-chevron-circle-down"></a>
                        </div>
                        <div class="panel-body" id="showForm" style="display: none">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" action="#" th:action="@{/registration/itemType}" th:object="${itemTypeForm}" method="post">
                                        <div class="alert alert-danger" th:if="${!error.errorDetail.isEmpty()}" >
                                                <span th:text="${error.errorDetail}"></span>
                                        </div>

                                        <div class="form-group">
                                            <label th:text="#{label.itemType.code}">Text Input</label>
                                            <input type="text" th:field="*{code}" class="form-control" placeholder="Enter text"  th:id="${error.hasError('code')}? inputError">
                                        </div>
                                        <div class="form-group">
                                                <label th:text="#{label.itemType.name}">Text Input with </label>
                                                <input th:field="*{name}" class="form-control" placeholder="Enter text"  th:id="${error.hasError('name')}? inputError">
                                        </div>
                                        <div class="form-group">
                                                <label th:text="#{label.itemType.description}">Text Input with </label>
                                                <input th:field="*{description}" class="form-control" placeholder="Enter text"  th:id="${error.hasError('description')}? inputError">
                                        </div>

                                        <button type="submit" class="btn btn-default">Submit</button>
    
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                     <!-- .panel-default -->
                    <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 th:text="#{label.itemType.table.tittle}">Basic Form Elements</h2>
                                <a id="icon-header" href="#" onclick="hideDiv2()" class="fa fa-chevron-circle-down"></a>
                            </div>
                            <div class="pannel-body-custom" style="display: none">
                                <div class="row">
                                    <div class="table-responsive" id="table-item-type">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th th:text="#{label.itemType.colum.id}">#</th>
                                                        <th th:text="#{label.itemType.colum.name}">First Name</th>
                                                        <th th:text="#{label.itemType.colum.description}">Last Name</th>
                                                        <th th:text="#{label.itemType.colum.creationDate}">Last Name</th>
                                                        <th th:text="#{label.itemType.colum.state}">Last Name</th>
                                                        <th th:text="#{label.itemType.colum.option}">Last Name</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="itemType : ${listItemType}">
                                                        <td th:text="${itemType.id}">1</td>
                                                        <td th:text="${itemType.name}">Mark</td>
                                                        <td th:text="${itemType.description}">Otto</td>
                                                        <td th:text="${itemType.creationDate}">@mdo</td>
                                                        <td th:text="${itemType.state}">delete</td>
                                                        <td><a th:href="@{/maintenance/type/disable(typeId=${itemType.id})}">
                                                            <button type="button" class="btn btn-danger" th:disabled="${!itemType.state}">Inactive</button>
                                                        </a></td>
                                                    </tr>
                                                   </div> 
                                                </tbody>
                                            </table>
                                            <div class="dataTables_paginate " id="dataTables-example_paginate">
                                                <ul class="pagination" th:each="number :${#numbers.sequence(1, pagination.numberPage )}" style="margin-top: 0px;" >
                                                    <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0"><a th:href="@{/maintenance(page=${number})}" th:text="${number}">1</a></li>
                                                </ul>
                                            </div>
                                        <!-- /.table-responsive -->
                                       
                                </div>
                                <!-- /.row (nested) -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /panel-default-->
            </div>  
            <!-- /.col-12 -->

            
           
        </div>
        <!-- /.container-fluid -->
    </div>

    </div>

</div>
<!-- Bootstrap Core JavaScript -->
<!-- jQuery -->
<script th:src="@{/vendor/jquery/jquery.min.js}" ></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/vendor/metisMenu/metisMenu.min.js}" ></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/dist/js/sb-admin-2.js}" ></script>


</body>

</html>