<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pluto Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}"  rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.css}"  rel="stylesheet">
    <link th:href="@{/dist/css/home-style.css}"  rel="stylesheet">


    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div id="wrapper">

    <!-- 	menu de navegación 	header init -->
    <div th:replace="fragments/header-menu :: header-menu">... </div>
    <!-- 	menu de navegación 	header end -->

    <!-- 	menu de navegación 	init -->
    <div th:replace="fragments/header-nav :: header-nav">...</div>
    <!-- 	menu de navegación 	end -->

    <!-- Page Content -->
    <div id="page-wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" th:text="#{label.shop.checkout.tittle}">Resumen </h1>
                </div>
            </div>

            <div class="panel-heading" th:if="${#lists.isEmpty(shoppingCar.itemsShoppingList)}">
                <div class="row">
                    <center><h1 th:text="#{label.shop.checkout.emptyItem}">No existen item para para el checkout</h1></center>
                </div>
            </div>

            <div class="col-lg-12" th:if="${not #lists.isEmpty(shoppingCar.itemsShoppingList)}" >  

                    <!-- box item -->
                    <div >
                        <div>
                            <div class="panel-body">
    
                            </div>
                           
                               <table  class="table table-striped table-bordered table-hover" style="border:none;">
                                   <tbody>
                                       <tr th:each="item : ${shoppingCar.itemsShoppingList}">
                                           <td>
                                            <img th:src="${item.pictureUrl}" class="avatar img-circle" alt="avatar" id="img-box">  
                                           </td>

                                            <td th:text="${item.name}" colspan="2" id="article-title"></td>
                                            <td th:text="${item.description}" colspan="2" id="article-title"></td>
                                            <td th:text="'RD$ '+ ${item.price}" colspan="2" id="article-title"></td>
                                            <td th:text="${item.itemType}" colspan="2" id="article-title"></td>
                                            <td colspan="2" id="article-title">
                                            <label th:text="#{label.shop.checkout.quantity}">Number</label>
                                            <input type="number" th:value="${item.quantity}" size="2" class="form-control">
                                            </td>
                                        </tr>
                                       <tr>
                                        <td ><a th:href="@{/checkout/product/confirm}"><button type="button" class="btn btn-outline btn-primary">Confirm Shop</button></a></td>
                                        <td> <a th:href="@{/checkout/product/cancel}"><button type="button" class="btn btn-outline btn-primary">Cancel Shop </button></a></td>
                                       </tr> 
                                   </tbody>
    
                               </table>
                        </div>
                      </div>
                      <!--end /box item -->
                    </div>  


            
        </div>


    </div>
      
</div>
<!-- Bootstrap Core JavaScript -->
<!-- jQuery -->
<script th:src="@{/vendor/jquery/jquery.min.js}" ></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/vendor/metisMenu/metisMenu.min.js}" ></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/dist/js/sb-admin-2.js}" ></script>



</body>

</html>